  html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
  }

.bgimg{
	margin: 0;
	padding: 0;
	opacity:0.8;
	background-image: url('../img/background.jpg');
	background-color: #7B92BC;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body{
	background-color: #bbdefb;
}

.cardnewstitle{
	margin:auto;
    height:6em;
    max-height: 6em;
    min-height:6em;
}

.indexbottompics{
    height:auto;
    min-height: 140px;
}

.blocklink{
	display:block;
}

.custombuttons{
	-webkit-appearance: none;
    color: black;
    width: 90%;
    height: 160px;
    min-height: 100%;
    text-align: center;
    display: block;
    font-size: 16px;
    margin-top: 35px;
    border: 2px solid darkgrey;
    border-radius: 25px 15px;
}

.sliderbuttons{
    -webkit-appearance: none;
    color: black;
    text-align: center;
    font-size: 16px;
    margin-top: 35px;
    border: 2px solid darkgrey;
    border-radius: 25px 15px;
    opacity:0.8;
}

#rock {
    width: 90%;
    height: 160px;
    background-image: url(http://www.featurepics.com/StockImage/20120816/cloud-seamless-pattern-stock-illustration-2318633.jpg);
    background-repeat: no-repeat;

}
.logo{
    height:75px;
    width: auto;
    margin-left: 30px;
    z-index:99;
}

.brand-logo{
    z-index:99;
}

.breadcrumb{
    padding-left:20px;
}

.breadcrumb:before {
    content: "\00bb";
}
#newspav{
    font-size: 24px;
}
#one{
    margin-top: 30px;

}
.carousel-item{
    width: 100%;
    height: 100%;
}

#foto{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1em;
    margin-right: 1em;
    padding: 0;

}
#fotos{
    width: 100%;
    height: auto;
    margin:auto;
}



.foto{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1em;
    margin-right: 1em;
    padding: 0;

}
.fotos{
    width: 90%;
    height: auto;
    max-height: 200px;
    margin:auto;
}

.indexfotos{
    width: 90%;

    max-height: 200px;
    margin:auto;
}

#prof{
    width: 200px;
    height: 200px;
    margin-top: 40px;
}

.chart{
    max-height: 500px;
    max-width: 500px;
    overflow: hidden;
    display: inline;
}

#chartz{
    margin-top: 40px;
}


.readmorelink{
    position:absolute;
    bottom:0;
}

.horizontalcard{
    min-height: 250px;
    border: 1px solid #ffca28;
    border-width:3px;  
    border-style:double;
}
.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}
.card{
    border: 1px solid #ffca28;
    border-width:4px;  
    border-style:double;
}


