/* Fonts */

@import url("font-awesome.min.css");


/* Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-family: 'Ubuntu';
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
	font-size:0;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Less is more */

h1, h2{
	font-weight: 700;
}

p{
	font-weight: 400;
	font-size: 0.8em;
}



.red-line{
	margin: 18px 0;
    border: 0;
    height: 2px;
    background-color: #ff2400;
    width: 55px;
}

.upper-header-wrapper, .logo-line-wrapper, .slider-wrapper, .contacts-wrapper, .bottom-line-wrapper{
	width: 100%;
}

.upper-menu-wrapper, .logo-line, .business-desc-wrapper, .news-wrapper, .partners-wrapper{
	width:78%;
	display: block;
	margin: 0 auto;
}

.upper-header-wrapper{
	background-color: #ff2400;
	box-shadow: 0px 1px 1px #888888;
	height: 36px;

	& > .upper-menu-wrapper{
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		& > .social{
			height: inherit;
			& > ul{
				display: inline-block;
				& > li{
					display: inline-block;
					width: 39px;
					
					& > a{
						font-size: 12.75px;
						display: inline-block;
						color:#fff;
						width: 100%;
						border-left: 1px solid #ff9280;
						font-family: 'Font Awesome';
						line-height: 36px;
						text-align: center;
						&:hover{
						background-color:rgba(255,255,255,.5);
						transition: all .3s;

						&:visited{
							color:#fff;
						}
					}
						
					}
					&:last-of-type > a{
							border-right:1px solid #ff9280;
							font-family: 'Ubuntu';
						}
				}
			}
		}

		& > .upper-menu{
			height: inherit;
			& > ul{
				display: inline-block;
				line-height: 36px;
				& > li{
					display: inline-block;
					margin-left: 25px;
					&:first-of-type{
						margin-left:0px;
					}
					& > a{
						font-size: 12.75px;
						color:#fff;
						display: inline-block;
						&:hover{
							font-size:12px;
							font-weight: 700;
						}
					}
				}
			}
		}
	}
}

.logo-line-wrapper{
	height: 86px;
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: #ffffff;
    &.bottom{
    	background-color: #f8f8f8;
    }
	& > .logo-line{
		height: inherit;
		
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		& a > img {
			display: inline-block;
			vertical-align: middle;
		}

		& > ul{
			vertical-align: middle;
			display: inline-block;
			& > li{
				display: inline-block;
				padding: 7px 15px;
				border-right: 1px solid #ffdcd6;
				
				&:first-of-type{
					padding: 7px 15px 7px 0px;
				}

				&:last-of-type{
					border:none;
					padding: 7px 0px 7px 15px;
				}
				& > a{
					font-size: 12.75px;
					font-weight: 700;
					text-transform: uppercase;
					color: #373737;

					&:hover{
						color:#ff2400;
					}

				}
			}
		}
	}
}

.slider-wrapper{
	height: 374px;
	position: relative;
	overflow: hidden;
	background-color: #000;
	& > .slider-img{
		position:relative;
		top:-37%;
		width: 100%;
		height: auto;
		opacity:0.6;
		display: block;
		transition: display fade-in .5s;

	}

	& > button{
		position:absolute;
		top: ~"calc(50% - 45px / 2)";
		width: 45px;
		height: 45px;
		border-radius: 100%;
		border-width: 0;
		background-color: rgba(0,0,0,.25);
		z-index:10;
		display: block;
		cursor: pointer;
		font-size: 16px;
	    text-align: center;
	    line-height: 45px;
	    color: #ffffff;

		&:hover{
			background-color: rgba(255,255,255,1);
			color: #ff2400;
		}
		&:first-of-type{
			left:3%;
		}

		&:last-of-type{
			right: 3%;
		}
	}
	& > .slider-text{
		position: absolute;
	    display: block;
	    text-align: center;
	    width: 60%;
	    height: fit-content;
	    z-index: 10;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    margin: auto;
		& > h1{
			font-size: 36px;
			color: #fff;
			padding-bottom: 31px;
			border-bottom: 1px solid #fff;
			margin: 0 auto;
			display: block;
		}
		& > h2{
			font-size: 16.4px;
			color: #fff;
			padding-top: 31px;
		}
	}

}

.business-desc-wrapper, .news-wrapper > div{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
}

.business-desc-wrapper, .news-wrapper{
	margin-top:60px;
}

.news-wrapper{
	margin-bottom: 55px;
}

.news-wrapper > h2, .block-title > h2{
	display: block;
	
}

.block-title{
	width: 78%;	
	display: block;
	margin: 0 auto;
	width: 78%;
}

.news-wrapper > h2, .block-title > h2, .partners-wrapper > h2{
	font-size: 16.4px;
	text-transform: uppercase;
}

.partners-wrapper{

}

.business-desc-block, .news-block{
	width: 23.17%;
	border:none;
	display: block;
}

.business-desc-block{
	& > div{
		display: flex;
		flex-direction: row;
		margin-bottom: 37px;

		& > img{
			margin-right: 17px;
		}

		& > h2{
			font-size: 17px;
			color:#191919;
			line-height: 22px;
			vertical-align: middle;
			& > span{
				display: block;
			}

		}
	}

	& > p{
		color: #6f6f6f;
		display: inline;
	}

	& > a{
		color:#ff2400;
		&:hover{
			font-weight:700;
		}
	}
}

.news-block{
	& > div{
		display: block;
		width: 100%;
		height: 156px;
		overflow: hidden;
		margin-bottom: 20px;
	}
	& > h3{
		font-weight: 700;
		font-size:12.75px;

		& > a{
			color: #191919;
			&:hover{
			color:#ff2400;
		}
		}
	}

	& > p{
		color: #ababab;
		font-size: 11px;
		line-height: 24px;
	}

}

.contacts-wrapper{
	height: 260px;
	font-size: 0;
	vertical-align: top;

	& > .map{
		height: inherit;
		font-size: 0;
		display: inline-block;
		width: 71%;
		position: relative;
		&::before {
    background-color: none;
    content: '';
    position: absolute;
    z-index: 2;
    box-shadow: inset 0px 8px 11px -12px black;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
}
		& > iframe{
		display: block;
		position: relative;
		border:none;
		width: 100%;
		height: inherit;
		z-index:1;
	}
	}
	

	& > .contact-info{
		display: inline-block;
		background-color: rgba(254,57,24,1);
		height: inherit;
		width: 29%;
		font-size: 16px;
		color: #fff;
		margin:0;
		border: none;
		vertical-align: top;
		& > section{
			margin: 52px 0px 80px 40px;
			& > h2{
				font-size: 19.75px;
				margin-bottom: 34px;
			}

			& > p{
				font-size: 12.75px;
				line-height: 24px;
				& > a{
					color:inherit;
					&:hover{
						font-weight:700;
					}
				}
			}
		}
	}
}

.partners-wrapper{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 34px;
	margin: 55px auto;
	& > a{
		display: inline-block;
		opacity:.5;
		height: inherit;
		&:hover{
			opacity:.8;
			transition: all .3s;
		}
	}

	& > div{
		height: 55px;
		border-right:1.5px solid red;
	}
}

.bottom-wrapper{
	height: 36px;
	background-color: #191919;

	& > p{
		text-align: center;
		font-size: 11px;
		color:#7d7d7d;
		line-height: 36px;
		& > a{
		color:#7d7d7d;
	}
	}

	
}