a{
	text-decoration: none;
}

body{
	background-color: #121212;
	background-image: url("images/bg.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100% auto;
	padding: 0;
	margin-top: 46px;
}

div.body-container{
	width:980px;
	display: block;
	margin: 0 auto;
	background-color: #ffffff;
	height: 200px;
	padding: 15px 20px 40px 20px;
	max-width:980px;
}

div#logo{
	display: inline-block;
}

div#newsdiv{
	width:68.37%;
	display: inline-block;
}

div#newsmenu-wrapper{
	background-color: #000000;

}

div#sidebar{
	width:31.63%;
	display: inline-block;
}

header{
	display:block;
}

li.header-menu-item{
	float: left;
	vertical-align: bottom;
}

li.header-menu-item a{
	display: inline-block;
	color: #cf0000;
	border-right: 1px solid #202021;
	padding: 0px 12px 2px 12px;
	font-family: "Arial Regular";
	font-size: 12px;
}

li.newsmenu-item{
	float: left;
}

li.newsmenu-item a{
	display: inline-block;
	color: #ffffff;
	padding: 18px 17px 17px 18px;
	font-family: BebasRegular;
	font-size: 15px;
	font-weight: bold;
}

main{
	display: inline-block;
	margin: 0 auto;
}

ul#header-menu{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	
}

ul#newsmenu{
	list-style-type: none;
	margin: 0;
	padding: 0px 17px 0px 17px;
	overflow: hidden;
	display: block;
}



ul#header-menu li:last-child a:last-child{
	border:0px;
}
