/* Reset */
*,
*:before,
*:after{
	box-sizing: border-box;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Fonts */
@font-face{
	font-family: Ionicons;
	src: url(../fonts/ionicons/ionicons.woff);
	font-weight: 400;
}

@font-face{
	font-family: BebasRegular;
	src: url(../fonts/bebas_regular_macroman/BEBAS___-webfont.woff);
}

/* General styles */

a{
	text-decoration: none;
}



body{
	background-color: #121212;
	background-image: url("../images/bg.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100% auto;
	padding: 0;
	margin-top: 46px;
}

@media screen and (max-width: 979.9px){
	body{
		margin-top:0px;
	}
}

body *{
	font-family: "Arial";
}

body, main, div, span, section {
	font-size:0;
}

button{
	cursor: pointer;
}

footer{
	margin:0 auto;
	text-align: center;
	color: #020305;
	font-size: 12px;

	& > p{
		color:#202021;
		line-height: 1.5em;
	}
}

h1,h2,h3,h4{
	font-weight: 700;
}

h2{
	font-family: BebasRegular;
	font-size: 20px;
	color:#202021;
	word-spacing: 0.2em;
	padding-bottom: 6px;

}

/* Top slider - breaking news */

.main-img{
	display: none;
    width: 528px;
    height: 288px;
    border: 3px solid;
    position: relative;

    & > img {
	    overflow: hidden;
		width: 100%;
		height: 100%;
		object-fit: cover;
		display: inline-block;
    }

}

@media screen and (max-width: 699.9px){
	.main-img{
	display: none;
    width: 100%;
    height: 45vw;
    margin-bottom: 10px;
    border: 3px solid;
    position: relative;

    & > img {
	    overflow: hidden;
		width: 100%;
		height: 100%;
		object-fit: cover;
		display: block;
    }

}
}

.breaking-title{
	position: absolute;
	bottom: 0px;
	display: block;
	width:100%;
	height: 42px;
	background-color: rgba(0,0,0,.7);

	& > p{
		color:#ffffff;
		font-size: 15px;
		display: block;
		margin-left: 140px;
		margin: 6px 44px 0px 140px;
	}

}

@media screen and (max-width: 768px){
	.breaking-title{

	& > p{
		color:#ffffff;
		font-size: 13px;
		line-height: .95;
		display: block;
		margin: 5px;
	}

}
}

.breaking-flair{
	background-color:#cf0000;
	width: 108px;
	height: 26px;
	position: absolute;
	bottom:0px;
	left: 0px;

	& > p{
		color:#ffffff;
		text-transform: uppercase;
		font-size: 10px;
		font-weight: 700;
		text-align: center;
		line-height: 26px;

	}
}

.top-slider{
	display:table;
	position: relative;
	padding: 13px 11px 13px 12px;
	background-color: #202021;
	margin-bottom: 26px;
	width:670px;
}

@media screen and (max-width: 919.9px){
	.top-slider{
	display:block;
	margin: 0 auto;
	}
}

@media screen and (max-width: 699.9px){
	.top-slider{
		width: 100%;

	}
}

.show-element{
	display:block !important;
}


#dark-cover{
	position:fixed;
	right:0;
	top:0;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,.15);;
	display: none;
	align-items: center;
	cursor: pointer;
	z-index:1;

}

#subscribe-window{
	width:60%;
	height: 20%;
	background-color: #fff;
	display: none;
	margin: 0 auto;
	z-index: 11;
	cursor: unset;
	
}

.show-window{
	display: flex !important;
}