/* Reset */
*,
*:before,
*:after{
	box-sizing: border-box;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Fonts */
@font-face{
	font-family: Ionicons;
	src: url(../fonts/ionicons/ionicons.woff);
	font-weight: 400;
}

@font-face {
    font-family: 'bebasregular';
    src: url(../fonts/bebas_regular_macroman/BEBAS___-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;

}

/* General styles */

a{
	text-decoration: none;
}



body{
	background-color: #121212;
	background-image: url("../images/bg.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100% auto;
	padding: 0;
	margin-top: 46px;
}

@media screen and (max-width: 979.9px){
	body{
		margin-top:0px;
	}
}

body *{
	font-family: "Arial";
}

body, main, div, span, section {
	font-size:0;
}

button{
	cursor: pointer;
}

footer{
	margin:0 auto;
	text-align: center;
	color: #020305;
	font-size: 12px;

	& > p{
		color:#202021;
		line-height: 1.5em;
	}
}

h1,h2,h3,h4{
	font-weight: 700;
}

h2{
	font-family: BebasRegular;
	font-size: 20px;
	color:#202021;
	word-spacing: 0.2em;
	padding-bottom: 6px;

}

.section-title{
	position: relative;
	margin-bottom:15px;
	border-bottom: 3px solid #cf0000;
	width:100%;

	& > a{
		right:0;
		bottom:0;
	}
}

h3, h4{
	color:#202021;
	font-size: 12px;

}


main{
	display: inline-block;
	margin: 5px auto;
	padding-bottom: 44px;
	border-bottom: 1px dotted #202021;

}

@media screen and (max-width: 669.9px){
	main{
		width: 100%;
		display: block;
	}
}

p{
	font-size: 12px;
	color:#202021;
}

/* START OF <DIV> STYLES */

.article-blocks-main{
	width: 460px;
	display: inline-block;
	vertical-align: top;
	margin-right:20px;
}



.article-blocks-secondary{
	width:190px;
	display: inline-block;
	vertical-align: top;
}

@media screen and (max-width: 931.9px){
	.article-blocks-main{
		width: 68%;
		margin-right: 2%;
	}

	.article-blocks-secondary{
		width: 30%;
	}
}

@media screen and (max-width: 739.9px){
	.article-blocks-main, .article-blocks-secondary{
		width: 100%;
		display:block;
		margin:0;
	}
}


.news-block{
	margin-bottom:36px;

	& > section{
		width: 145px;
		display: inline-block;
		margin-right: 10px;
		vertical-align: top;

		&:last-of-type{
			margin-right:0;
		}

		& > .thumb-link {
			height: 100px;
		    width: 145px;
		    overflow: hidden;
		    display: inline-block;
		    margin-bottom: 15px;

		    & > img{
		    	min-width: 100%;
		    }
		}

		& > p{
			margin-bottom: 12px;
		}
	}
}

@media screen and (max-width: 931.9px){
	.news-block {
	
	& > section{
			width: 32%;	
			margin-right: 2%;
	& > .thumb-link > img{
				object-fit: cover;
			}
		&:last-of-type{
			margin-right: 0;
		}
		& > .thumb-link {
			width: 100%;
			margin-bottom: 15px;

			& > img{

			}
		}

		& > p{
			margin-bottom: 12px;
		}
	}
}
}

@media screen and (max-width: 430.1px){
	.news-block {
		& > section{
			width: 49%;
			& > .thumb-link > img{
				height: -webkit-fill-available;
				width: auto;
			}
			&:first-of-type{
				width:100%;
				margin-right:0;
				margin-bottom: 2%;
				& > .thumb-link:first-of-type{
				height: 60vw;
			}
			}
			&:last-of-type{
				margin-right: 0;
			}
		}

		

	}
}


.read-more{
	color:#cf0000;
	font-size: 10px;
	font-weight: 700;
	text-transform: uppercase;
}

.body-container{
	width:980px;
	display: block;
	margin: 0 auto;
	background-color: #ffffff;
	height: auto;
	padding: 15px 20px 40px 20px;
}

@media screen and (max-width: 979.9px){
	.body-container{
		width: 100%;
		padding: 10px 10px 30px 10px;
	}
}


.editorial > section{
	display: inline-block;
	width: 100%;
	margin-bottom: 13px;

	&:last-of-type{
		margin-bottom:0;
	}

	& > a > h4{
		color:#cf0000;
		margin-top: 12px;
		font-size: 12px;
		font-weight: 700;
	}

	& > a > img{
		width:100%;
	}

	& > .thumb-link{
		display: block;
		height: 100px;
		overflow: hidden;
	}
}

@media screen and (max-width: 931.9px){
	.editorial > section > a > img{
		width: 100%;
	}
}

@media screen and (max-width: 739.9px){
	.editorial > section{
	display: inline-block;
	width: 48%;
	margin: 1%;

	& > a > img{
		width: 100%;
	}
}
}

@media screen and (max-width: 409.9px){
	.editorial > section{
		width: 100%;
		margin:0;
		margin-bottom: 3% !important;

	& > img{
	}

	}
}

.more-plus{
	display: inline;
	width: 61px;
	height: 19px;
	position:absolute;
	background-color: #cf0000;
	color: #ffffff;
	font-size: 10px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 19px;
	text-align: center;

	&:hover{
		background-color:lighten(#cf0000,6%);
	}
}



/* HEADER STYLES */

.header-menu{
	margin: 0 0 10px 0px;
	display: inline-block;
	vertical-align: bottom;

	& > li{
		display: inline;

		&:first-child a{
			padding: 0px 11px 0px 0px;
		}

		& > a{
			display: inline-block;
			color: #cf0000;
			border-right: 1px solid #202021;
			font-size: 12px;
			padding: 0px 11px 0px 11px;

			&:hover{
				font-weight:700;
			}
		}

	}
	
}

.header-menu li:last-child a:last-child{
	border:0px;
	padding-right: 5px;
}

@media screen  and (max-width: 979.9px) and (min-width:768px){
	.header-menu{
		vertical-align: top;
		position: absolute;
		top: auto;
		right:0;

		& > li{
			&:first-child a{
			padding: 5px 11px 5px 0px;
			}
			& > a{
				font-size: 14px;
				padding: 5px 11px;
			}
		}
	}
}

/* HEADER MENU RESPONSIVE STYLE */
.burger {
	display: none;
}

@media screen and (max-width: 767.9px){
	.burger{
		display: inline-block;
		cursor: pointer;
		background-color: #ffffff;
		height: 30px;
		width: 30px;
		padding: 2px 3px;
		border-radius: 10%;
		border: 1px solid gray;
		position: relative;

	& > * {
		display: block;
		}
	& > div{
		height: 3px;
		width:22px;
		margin:4px 0;
		background-color: #000000;
		transition: all .3s;
			
		
		&:first-of-type{
			transform: rotate(0deg) translate(0px, 0px);
			}

		&:nth-of-type(2){
			opacity: 1;
			}

		&:last-of-type{
			transform: rotate(0deg) translate(0px, 0px);

			}
		}

	}	

	.burger-animations{
		& > div{
		
		&:first-of-type{
			transform: rotate(-45deg) translate(-5px, 5px);
			}

		&:nth-of-type(2){
			opacity: 0;
			}

		&:last-of-type{
			transform: rotate(45deg) translate(-5px, -5px);

			}
		}
	}

	.header-menu{
		width: 200px;
    	background-color: #ffffff;
	    border: 1px solid gray;
	    border-radius: 5% 0 5% 5%;
	    position: absolute;
	    right: 0px;
	    top: 36px;
	    z-index: 10;
	    display: none;


		& > li{
			display: block;
			text-align: center;
			border-bottom: 1px dotted gray;

			&:last-of-type{
				border-bottom: 0;
				border-radius: 5%;
			}

			&:first-child a{
				padding:0;
			}

			& > a{
				display: inline-block;
				color: #cf0000;
				border-right: 0;
				font-size: 18px;
				padding: 0px 11px 0px 11px;
				width: 100%;
				height: 2em;
				line-height: 2em;
				font-weight: 700;

				&:hover{
				color: darken(#cf0000,10%);
				letter-spacing: .5px;
				}
			}

		}
		
	}

	.header-menu li:last-child a:last-child{
		border:0px;
		padding-right: 5px;
	}
}

.logo{
	display: inline-block;
	margin: 12px 100px 15px 0px;
}

@media screen and (max-width: 979.9px){
	.logo{
		display: inline-block;
		margin: 0;
}
}

.logo-line{
	display: block;
	position: relative;
}

.logo-menu{
	display: inline;
}

@media screen and (max-width: 979.9px){
	.logo-menu{
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	flex-direction: row;
	position: relative;
}
}

.page-header{
	display:block;
}

/* Social media links */

.social{
	display: block;
	margin-bottom: 5px;

	& > *{
		vertical-align: middle;
		margin-right: 12px;
	}

	& > a {
		display:inline-block;
		vertical-align: middle;
		height: 24px;
		width: 24px;
		border-radius: 20%;
		

		& > i{
			text-align: center;
			
			color: #ffffff;
			&::before{
				font-size: 16px;
    			line-height: 24px;
   				display: block;
			}
			
		}

	}
}

@media screen and (max-width: 979.9px){
	.social, .search{
		display: inline-block;
	}

	.social{
		width: 50%;
    	margin-bottom: 0;
    	vertical-align: inherit;

    	& > a {
    		& > i{
    			height: 28px;
    			width: 28px;
    			line-height: 28px;
    		}
    	}
	}
}

@media screen and (max-width: 600px){
	.social, .search{
		width: 100%;
	}

	.social{
		display: flex;
		justify-content: space-around;
		flex-direction: row;
		align-items: center;
	}

}

.twitter-link{
	background-color: #1b95e0;

	&:hover{
		background-color:lighten(#1b95e0,10%);
	}
}

.fb-link{
	background-color: #3b5998;
	&:hover{
		background-color:lighten(#3b5998,10%);
	}
}

.rss-link{
	background-color: #f78422;
	&:hover{
		background-color:lighten(#f78422,10%);
	}

}

.google-button{
	display: inline-block;
	margin-right: 0;
	height: 20px;
}

.social-and-search{
	display: inline-block;
	margin-left: 20px;
	margin-bottom: 10px;
	vertical-align: bottom;
	width: 250px;
	position: absolute;
	right: 0;
}

@media screen and (max-width: 979.9px) {
	.social-and-search{
		margin: 1rem auto;
		display: block;
		width: 100%;
		position: unset;
	}
}



/* Search form - header */

.search{
	display: inline-block;
	margin-top: 5px;
	width: inherit;
}

.search-form{
	& > input {
		height: 28px;
		width: ~"calc(100% - 32px)";
		border: 1px solid #bababa;
		border-right: 0;
		color: #202021;
		padding-left:5px;
		font-size: 12px;
		position: relative;
	}

	& > button {
		height: 28px;
		width: 32px;
		border: 1px solid #202021;
		background-color: #202021;
		position: absolute;

		&:hover{
			background-color: lighten(#202021,10%);
			border-color: lighten(#202021,10%);
		}

		& > i{
			color:#ffffff;
			font-size: 16px;
		}
	}
}

@media screen and (max-width: 979.9px){
	.search{
		width: 50%;
	}
}

@media screen and (max-width: 600px){
	.search{
		width: 100%;
	}
}

/* Top slider - breaking news */

.main-img{
	display: inline-block;
    width: 528px;
    height: 288px;
    border: 3px solid;
    position: relative;
    overflow: hidden;

    & > a > img {
	    overflow: hidden;
		width: 100%;
		height: 100%;
		object-fit: cover;
		display: block;
		transition: all .3s;

		&:hover{
			width:102%;
			height: 102%;
		}
    }

}

@media screen and (max-width: 931.9px){
	.main-img{
	    height: auto;
	    width: 80%;
	}

	
}

@media screen and (max-width: 479.9px){
	.main-img{
    width: 100%;
    height: 45vw;
    border: 3px solid;
    position: relative;

    & > a > img {
	    overflow: hidden;
		width: 100%;
		height: 100%;
		object-fit: cover;
		display: block;
    }

}
}

.breaking-title{
	position: absolute;
	bottom: 0px;
	display: block;
	width:100%;
	height: 42px;
	background-color: rgba(0,0,0,.7);

	& > p{
		color:#ffffff;
		font-size: 15px;
		display: block;
		margin-left: 140px;
		margin: 6px 44px 0px 140px;
	}

}

@media screen and (max-width: 768px){
	.breaking-title{

	& > p{
		color:#ffffff;
		font-size: 13px;
		line-height: .95;
		display: block;
		margin: 5px;
	}

}
}

.breaking-flair{
	background-color:#cf0000;
	width: 108px;
	height: 26px;
	position: absolute;
	bottom:0px;
	left: 0px;

	& > p{
		color:#ffffff;
		text-transform: uppercase;
		font-size: 10px;
		font-weight: 700;
		text-align: center;
		line-height: 26px;

	}
}

.top-slider{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
	padding: 13px 11px;
	background-color: #202021;
	margin-bottom: 26px;
	width:670px;
}

@media screen and (max-width: 931.9px){
	.top-slider{
		padding: 6px 6px;
		width: 100%;
		height: 45vw;
	}
}

@media screen and (max-width: 479.9px){
	.top-slider{
		flex-direction: column;
		height: auto;
	}
}

.newsdiv{
	width:670px;
	display: inline-block;
}

@media screen and (max-width: 931.9px){
	.newsdiv{
		width:100%;
		margin: 0 auto;
	}
}

.news-section-wrapper{
	display: inline;
}

@media screen and (max-width: 931.9px){
	.news-section-wrapper{
	display:block;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 4%;
	}
}

.newsmenu-wrapper{
	background-color: #000000;
	font-size: 0;
	margin-top: 15px;

	& > .show-categories{
		display:none;
		font-family: 'BebasRegular';
		font-size: 20px;
		color:#fff;
		text-align: center;
		padding: .5em;
		& > span{
			display: inline-block;
			font-size: inherit;
			vertical-align: middle;
			margin-left: 3px;
			transition:all .1s ease-in-out;
		}

		&:hover{
			& > span{
				transform: rotate(90deg);
				transition-property: transform;
				
			}
		}
	}
}

@media screen and (max-width: 569.9px){
	.newsmenu-wrapper{
		& > .show-categories{
		display:block;
		}

		& > ul{
			display: none;
			column-count: 2;

			& > li{
				width: 100%;
			}
		}
		} 


}

.secondary-img{
	display: inline-flex;
	flex-direction: column;
	justify-content: space-between;
    width: 107px;
    height: auto;
    vertical-align: top;
}

.secondary-img > div{
	height: 67px;
	width: 107px;

	&:first-child > a > img{
		
	}

	& > a > img{
		object-fit: cover;
		width:100%;
		height: 100%;
		transition: all .1s;
		&:hover{
			border:2px solid red;
		}
	}
}

@media screen and (max-width: 931.9px){
	.secondary-img{
	    width: 19%;

	    & > div{
	    	width: 100%;
	    	height: 23%;
	    }
	}
}

@media screen and (max-width: 479.9px){
	.secondary-img{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	    width: 100%;
	    height: auto;
	    margin: 0 auto;

		& > div{
			height: 67px;
			width: 107px;
			margin-bottom: 7px;
			display: inline-block;

			&:last-child{
				margin-bottom:0;
				}

			&:first-child > img{
				border:2px solid red;
				}

			& > img{
				object-fit: cover;
				width:100%;
				height: 100%;
				}
			}
		}
}

.popular-most-read{


	& > .section-title {
			height: 32px;
		& > a {
			display: inline-block;
			width: 50%;
			cursor: pointer;
			position: absolute;

			&:first-of-type{
				text-align:left;
				left:0;
			}

			&:last-of-type{
				text-align: right;
				right: 0;
			}
		}

	}
}
	& .tabContent{
		display:none;
		& > section{
		padding-bottom: 21px;
		border-bottom: 1px dotted #202021;


			&:nth-of-type(n+2){
				margin-top: 21px;
			}

			&:last-of-type{
				border-bottom: none;
			}

			& > a,h4{
				display: inline;
			}

			& > h4{
				margin-right: 5px;
			}
			& > p{
				font-style: italic;
			}
		}
	}

@media screen and (max-width: 931.9px){
	.tabContent{
		
		height: 21vw;
		overflow-y:scroll;
		& > section{
			padding-bottom: 12px;
			&:nth-of-type(n+2){
				margin-top: 15px;
			}
			& > a,h4{
				display: inline-block;
			}
		}
	}

	.popular-most-read{
		margin-bottom:2%;
	}

}


@media screen and (max-width: 481.9px){
	.tabContent{
		height: auto;
		overflow:hidden;
	}
}

#popular{
	display: block;
}

.sidebar{
	width:250px;
	display: inline-block;
	vertical-align: top;
	margin-left: 20px;

	& > div{
		width: inherit;
	}
}


@media screen and (max-width: 979.9px){
	.sidebar{
		width: 24%;
		margin-left: 10px;
		& > div{
			width: 100%;
		}
	}
}

@media screen and (max-width: 931.9px){
	.sidebar{
		width: 100%;
		display: block;
		column-count: 2;
		column-gap: 15px;
		margin-left:0;
		column-fill: balance;
		& > div{
			display: inline-block;
		}
	}
}

@media screen and (max-width: 481.9px){
	.sidebar{
		column-count: 1;
	}
}

.sidebar-ad > a > img{
	width:100%;
	margin-bottom: 17px;
}

@media screen and (max-width: 931.9px){
	.sidebar-ad{
		display: none;
	}
}

.sign-up-form{
	background-color: #e4e4e4;
	display: block;
	padding:15px 15px 25px 19px;
	margin-bottom: 21px;

	& > p{
		text-align:center;

		&:first-of-type{
			margin-top:11px;
			margin-bottom: 15px;
		}

		&:last-of-type{
			color: #cf0000;
		}
	}

	& > form{


	 	& > input {
			height: 26px;
			border: 1px solid #bababa;
			font-size: 12px;
			display:block;
			padding: 7px 7px 7px 9px;
			width: 100%;

			&::placeholder{
				color:#202021;
			}

			&:first-of-type{
				margin-bottom:8px;
			}

			&:last-of-type{
				margin-bottom: 10px;
			}

			&:focus{
				&::placeholder{
					color:lighten(#202021,30%);
				}
			}
		}

		& > button {
			width:100px;
			height: 26px;
			font-size: 13px;
			font-weight: 700;
			text-transform: uppercase;
			background-color: #cf0000;
			line-height: 26px;
			text-align: center;
			color: #ffffff;
			border:none;
			margin-bottom: 11px;
			display: block;


		}
	}
}

@media screen and (max-width: 931.9px){
	.sign-up-form{
		padding:11px 19px;
		& > h2{
			text-align: center;
		}

		& > form{
			& > input{
				width: 100%;
			}

			& > button{
				margin: 3% auto;
			}
		}
	}
}

.subscribe-banner{
	width:inherit;
	display: block;
	font-size: 0;

	& > a > img{
		width: 100%;
	}
}

.subscribe-banner > .subscribe-banner-btn{
	font-family: BebasRegular;
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    padding: 0;
    background-color: yellow;
    font-size: 20px;
    color: red;

    &:hover{
    	background-color:red;
    	color: yellow;
    }
}




.video-bar{
	width:100%;
	margin: 0px 0px 20px 0px;
	padding: 10px 15px 10px 21px;
	background-color: #e4e4e4;
	position: relative;

	& > section{
		display:flex;
		flex-direction: row;
		align-items: center;
		margin-bottom: 9px;

		& > a > img{
			margin:0px 10px 0px 0px;
			width: 68px;
		}

		& > .thumb-link {
			width: 68px;
			height: 56px;
			overflow: hidden;
		}

		& > a > h4{
			color:#202021;
		}
	}

	& > a{
		right: 0;
		bottom: 0;
	}

}

@media screen and (max-width: 931.9px){
	.video-bar{
		padding: 10px 15px;
	}
}
/* Footer */

.ad-bottom-banner{
	display: block;
	margin-top: 26px;
	margin-bottom: 22px;
	padding-bottom: 27px;
	border-bottom: 1px dotted #202021;
	width: 100%;



	& > a > img{
		display: block;
		margin: 0 auto;
	}

}

@media screen and (max-width: 757.9px){
	.ad-bottom-banner{
		& > a > img{
			width: 100%;
		}
	}
}

@media screen and (max-width: 539.9px){
	.ad-bottom-banner{
		display: none;
	}
}

.bottommenu {

	margin-bottom: 28px;
	display: block;

	& > li {
	display:inline-block;
	border-right: 1px solid #202021;

		&:last-of-type{
			border-right:none;
		}

		& a{
		display: inline-block;
		padding-right: 10px;
		padding-left: 10px;
		font-size: 12px;
		color:#202021;

		&:hover{
			font-weight:700;
		}
		}
	}
}

@media screen and (max-width: 767.9px){
	.bottommenu{

	display:block;
	column-count: 2;

	& > li {
	display:block;
	border: none;
	width: 100%;

		& a{
		display: inline-block;
		padding: 0;
		font-size: 12px;
		padding: .6em 0px;

		}
	}
}
}


.topmenu li{
	display:inline-block;
	border-bottom: 2px solid transparent;
	transition: all .3s;

	& > a{
		display: inline-block;
		color: #ffffff;
		padding: 17px;
		font-family: BebasRegular;
		font-size: 15px;
		font-weight: bold;
		word-spacing: 0.2em;
	}

	&:hover{
		border-bottom: 2px solid red;
	}
}

@media screen and (max-width: 979.9px){
	.topmenu li{
	width: 20%;

	& > a{
		padding: 8px;
	}
	}
}

/* START OF <SECTION> STYLES */

.from-the-desk{
	& > section{
		padding-bottom: 25px;
		border-bottom: 1px dotted #202021;

		&:nth-of-type(n+2){
			margin-top: 23px;
		}
		
		&:last-of-type{
			border-bottom: 0;
		}

		& > a{
			font-weight: 400;
		}

		& > p{
			margin-bottom: 16px;
		}

		& > span{
			color: #202021;
			font-size: 10px;
			margin-left: 18px;
		}
	}
}

.from-the-desk > a, .tabContent > a{
	display: block;
	width: 61px;
	height: 19px;
	background-color: #cf0000;
	color: #ffffff;
	font-size: 10px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 19px;
	text-align: center;
	margin-bottom:30px;
}

@media screen and (max-width: 469.9px){
	.from-the-desk{
		margin:3% auto;
		& > section{
		padding-bottom:0;
		border-bottom: 0;
		}
	} 


}

.gallery{
	width:458px;
	margin-bottom: 26px;
	
	& > a{
		height: 100px;
		display: inline-block;
		overflow: hidden;
		width: 145px;
		margin: 0px 11px 10px 0px;
	}

	& > a:nth-of-type(3n+3){
		margin-right: 0px;
	}
	& > a:nth-of-type(n+4){
		margin-bottom: 0px;
	}
}

@media screen and (max-width: 931.9px){
	.gallery{
		width:100%;

	& > a {
		margin: 0px 2% 2% 0px;
		width: 32%;
		height: 17vw;
	}
}
}

@media screen and (max-width: 430.1px){
	.gallery{
		& > a:nth-of-type(n){
			margin:0 0 2% 0;
			width: 49%;
			height: 33vw;
		}
		& > a:nth-of-type(odd){
			margin-right: 2%;
		}	
	}
}

.tech-news{
	display: block;
}

@media screen and (max-width: 931.9px){
	.tech-news{

	}
}

.tech-news > section{
	width: ~"calc(50% - 12px)";
    display: inline-block;
    border-bottom: 1px dotted #202021;
    padding-bottom: 22px;
    margin-right: 12px;

    &:nth-of-type(2n+2){
    	margin-right: 0;
    	margin-left: 12px;
    }

    &:nth-of-type(n+3){
    	border-bottom: 0;
    	margin-top: 19px;
    	padding-bottom: 0;
    }
}

@media screen and (max-width: 469.9px){
	.tech-news{
		& > section{
			width: 100%;
			display: block;
			border:none;
			padding:0;
			margin: 3% 0px !important;
		}
	}
}

.horizontalmenu{
	display: block;
	text-align: center;
}

.title-image{
	width:100%;
	height: 33vw;
	overflow: hidden;
	margin: 20px auto;

	& > img{
		width: 100%;
	}
}



.show-element{
	display: block !important;
}


/* NEWS CATEGORY PAGE STYLES */

.news-category{
	width: 100%;
	margin-top:10px;
}

.single-report{
	display: flex;
	flex-direction: row;
	align-items: center;

	& > div{
		& > a > h4{
		font-size:16px;
		color:#202021;
		}
	} 
}

.single-report{
	margin: 20px auto;
	& > div{
		margin-left:20px;

		& > p{
			max-height: 4.8em;
		    line-height: 1.2em;
		    text-overflow: ellipsis;
		    overflow: hidden;
		    width: 100%;
			}
	}
}

@media screen and (max-width: 499.9px){
	.single-report{

	& > div{
		margin-left:10px;

		& > a > h4{
			font-size: 13px;
		}

		& > p{
			max-height: 3.6em;
		    line-height: 1.2em;
		    text-overflow: ellipsis;
		    overflow: hidden;
		    width: 100%;
			}
	}
}
}


/* SINGLE NEWS REPORT PAGE STYLES */

.report-picture{
	width: 100%;
	height:25vh;
	overflow:hidden;
	border: 3px solid #202021;
	margin-bottom: 20px;
	& > img{
		width: inherit;
		height: auto;

	}
}

@media screen and (max-width: 931.9px){
	.report-picture{
		height: 33vw;
	}
}

@media screen and (max-width: 569.9px){
	.report-picture{
		height: 40vw;
	}
}

.report-wrapper{
	margin-bottom: 10%;
}


/* Subscribe popup */

#dark-cover{
	position:fixed;
	right:0;
	top:0;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,.15);;
	display: none;
	align-items: center;
	cursor: pointer;
	z-index:1;

}

.inpage-window{
	width:460px;
	background-color: #e4e4e4;
	padding:15px;
	display: none;
	margin: 0 auto;
	z-index: 11;
	cursor: unset;


	& > form {
		display: block;
		width: 90%;
		margin: 0 auto;
		& > input{
		height: 26px;
		width: 80%;
	    border: 1px solid #bababa;
	    font-size: 12px;
	    display: block;
	    padding: 7px;
	    margin: 10px auto;
		}

		& > button{
			width: 100px;
			height: 26px;
			font-size: 13px;
			font-weight: 700;
			text-transform: uppercase;
			background-color: #cf0000;
			line-height: 26px;
			text-align: center;
			color: #ffffff;
			border: none;
			margin-bottom: 11px;
			display: block;
			margin: 10px auto;
		}

		& > p,h2{
			text-align: center;
		}

		& > textarea{
			width: 80%;
			height: 5rem;
		    border: 1px solid #bababa;
		    font-size: 12px;
		    display: block;
		    padding: 7px;
		    margin: 10px auto;
		}
	}
}

@media screen and (max-width: 499.9px){
	.inpage-window{
		width: 100%;
		    position: absolute;
    		bottom: 20%;
	}
}

.show-window{
	display: flex !important;
}

.active-slider-img{
	border:2px solid red;
}